<div class="container_about">
    <h1 class="about_h1">
        About
    </h1>
    <div class="blackblock_about"></div>
    <div class="infotext">
        <p>
            Cyberpunk 2077 is an upcoming role-playing video game developed by CD Projekt Red and published by CD Projekt. Adapted from the tabletop game Cyberpunk 2020, it is set fifty-seven years later in dystopian Night City, California, an open world in which a group known as Edgerunners serve society in eight different roles, which the player is free to choose and customise a character from. Player agency and choice lead to alternate endings.
        </p>
    </div>
    <div class="contact">
        <p class="contactme">Contact</p>
        <p class="email">
            Your Email
        </p>
        <input type="text" class="contact_input value="Email">
    </div>
    
</div>