<div class="container">
    <h1 class="home">
        Home
    </h1>
    <div class="mainpic">
        <img src="img/CP2077.jpg" alt="Cyberpunk 2077" width="120px" height="200px">
    </div>
    <p class="abouttext">
        Cyberpunk 2077 is an upcoming role-playing video game developed by CD Projekt Red and published by CD Projekt. Adapted from the tabletop game Cyberpunk 2020, it is set fifty-seven years later in dystopian Night City, California, an open world in which a group known as Edgerunners serve society in eight different roles, which the player is free to choose and customise a character from. Player agency and choice lead to alternate endings.
    </p>
</div>