<div class="container_index">
    <h1 class="home">
        Home
    </h1>
    <div class="whitebackground"></div>
    <div class="mainpic">
        <img src="img/CP2077.jpg" alt="Cyberpunk 2077">
    </div>
    <p class="abouttext">
        An upcoming RPG from the creators of The Witcher Series. This is fansite full of information about the game.
    </p>
    

</div>