<div class="container_news">
    <h1 class="news_h1">
        News
    </h1>
    
    <div class="blackblock">
        <h4 class="date">
            10/05-2018 Cyberpunk 2077: E3 website confirms CD Projekt Red will exhibit at the show
        </h4>
        <img src="img/E3_news.jpg" alt="" class="e3">
    </div>
    <div class="blackblock2">
        <h4 class="date2">
            01-05-2018 CYBERPUNK 2077: ALL NEWS, TRAILERS, GAMEPLAY, AND RUMORS
        </h4>
        <img src="img/CP_news.jpg" alt="" class="CP_news">
    </div>
</div>